<ion-header-bar>
    <a href="#/" class="button button-clear button-positive icon ion-home"></a>

    <h1 class="title">Groups</h1>
    <a href="#/groups/add" class="button button-clear button-balanced icon ion-plus "></a>

</ion-header-bar>

<ion-content has-header="true" has-footer="true" padding="false">

    <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="groupListPullRefresh()">
    </ion-refresher>


    <div class="list card">

        <div ng-if="groups.length == 0" class="item"><h3>No groups yet. Add some! </h3></div>


        <div class="item item-icon-right" ng-repeat="group in groups">

            <!--<a href="#/groups/{{group.id}}" class="energized"><i class="icon ion-wrench"></i></a>-->

            <h3>{{group.label}}</h3>

            <div class="col col-50">
                <button class="button button-outline">
                    <i class="icon ion-power balanced"></i>
                </button>

                <button class="button button-outline">
                    <i class="icon ion-power assertive"></i>
                </button>
            </div>
            <a href="#/groups/{{group.id}}" class="dark"><i class="icon ion-wrench"></i></a>
        </div>
    </div>


</ion-content>

