<body ng-controller="ContentCtrl">
<ion-header-bar>
    <h1 class="title">Home</h1>
</ion-header-bar>

<ion-content has-header="true" has-footer="true" scroll="true">


    <div class="row">
        <div class="col">

                <a href="#/groups" class="button icon-right button-dark dark-bg button-full ion-grid">Groups</a>
                <!--<a href="#/groups" class="item item-text-wrap item-icon-right dark-bg light">
                    <i class="icon ion-grid"></i></a>-->

        </div>
        <div class="col">
            <a href="#/plugs" class="button icon-right button-dark dark-bg button-full ion-power">Plugs</a>
            <!--<div class="card">
                <a href="#/plugs" class="item item-text-wrap item-icon-right dark-bg light">Plugs
                    <i class="icon ion-power"></i></a>
            </div>-->
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="#/settings" class="button icon-right button-dark dark-bg button-full ion-settings">Settings</a>
            <!--<div class="card">
                <a href="#/settings" class="item item-text-wrap item-icon-right dark-bg light">Setting
                    <i class="icon ion-settings"></i></a>
            </div>-->
        </div>
        <div class="col">
            <a href="#/users" class="button icon-right button-dark dark-bg button-full ion-person-stalker">Users</a>
            <!--<div class="card">
                <a href="#/users" class="item item-text-wrap item-icon-right dark-bg light">Users
                    <i class="icon ion-person-stalker"></i></a>
            </div>-->
        </div>
    </div>

    <ul class="list">
        <li class="item item-divider">Users:</li>
        <li ng-repeat="user in users" class="item item-icon-right">
            {{user.username}} ({{user.state}})
            <i class="icon ion-home balanced" ng-if="user.state == 'online' || user.state == 'ONLINE'"></i>
            <i class="icon ion-home assertive" ng-if="user.state == 'offline' || user.state == 'OFFLINE'"></i>
        </li>
    </ul>


</ion-content>
